

@font-face {
	font-family: "TradeGothicNo.20-Condensed", sans-serif;
	src: url("../fonts/trade-gothic-no-20-condensed-bold.ttf");
	font-weight: 600;
}


input[type=text], textarea, button, button:active, button:hover {
  outline: none !important;
  border: none;
}

p {
	font-family: "Trade Gothic Light";
}


h1 {
	font-family: "TradeGothicNo.20-Condensed", sans-serif;
	
}

h5 {
	font-family: "TradeGothic";

}

h3.ywft {
	font-family: "Chapparral Pro";
	font-style: italic;
	font-size: 30px;
	font-weight: 200;
}

.navy {
	color: #001f45;
}

input[type=radio] {
	width: auto;
}

html {
	  overflow-x: hidden;
}

body {
background: rgb(236,236,236);
-webkit-font-smoothing: antialiased;
}

.container {
padding: 1em;
}

.money button.btn.btn-default {
	width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
}

.retire .col-sm-6 input {
	margin-bottom: 10px;
	text-align: center;
}

.money button.btn.btn-default.disabled {
	width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
  background: gray;
}

.grid {
	background: url(../images/grid.png);
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 25px;
}

.grid h5 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.container.intro {
text-align: center;
}

.slide {
	height: 500px;
}

.main {
	height: 500px;
}

button.btn.btn-default.next {
	float: right;
}

header {
	  border-bottom: 1px solid #ddd;
}
ul.nav {
	 margin-right: auto;
  margin-left: auto;
  width: 700px;
}
nav.tabs li {
display: inline-block;
list-style-type: none;
border: none;
font-weight: bold;
margin: 0 1em;
background: transparent;

}

.btn-group {
	display: block;
  margin-left: auto;
  width: 265px;
  margin-right: auto;
  overflow: auto;
}

.btn-group button.back {
	background: white !important;
	color: #009ed1 !important;
}

.nav-tabs>li>a {
	text-transform: uppercase !important;
	border: none !important;
	font-family: "TradeGothic", sans-serif;
	font-weight: bold;
}

.nav-tabs>li.active {
	border-bottom: 1px solid red;
}

.nav-tabs>li.active>a {
background: transparent !important;	
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid red;

}

.v-center {
	padding-top: 10%;
}

.note.navy {
	padding: 25% 0 0 0;
}

.content.inner {
background: white;
padding: 1em;
margin: 0 auto;
max-width: 700px;
min-height: 400px;
position: relative;
}

button.btn {
	box-shadow: none !important;
	color: white !important;
	text-shadow: none;
	border-radius: 0;
	border: none;
	min-width: 130px;
	padding: .5em;
	font-family: "TradeGothicNo.20-Condensed", sans-serif;
	background: #009ed1 !important;

}



button.btn.btn-default.find {
	padding: .7em 1em;
}

button.btn:hover {
	box-shadow: none !important;
	color: white;
	text-shadow: none;
	border-radius: 0;
	border: none;
	background: #009ed1;
}
button.btn-default[disabled] {
	background: lightgrey !important;
	color: white !important;
}

.blue {
	background: #009ed1;
}

.prompt {
	background: url(../images/reality-check-bk.png);
	color: #009ed1;
	font-family: "Chapparral Pro";
	font-style: italic;
	min-height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center center;
    max-width: 290px;
    padding: 10px;
}


p.note {
font-style: italic;
text-align: center;
}

.right {
	float: right;
}

.h-center {
	width: 80%;
  margin: 0 auto;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
background: rgb(237,249,252);
border-radius: 5px;
padding: 10px;
border-style: none;
box-shadow: inset 0px 5px 14px rgba(0,0,0,.2);
color: #001f45;
font-family: "TradeGothicNo.20-Condensed", sans-serif;
font-size: 30px;
  width: 100%;

}

h4.labels {
display: block;
font-size: 1.4em;
font-family: "TradeGothic", sans-serif;
min-height: 60px;
font-weight: bold;
}

h5.labels {
	font-weight: normal;
	font-size: 1em;
}

.row.controls > * {
display: inline-block;
}


@media (min-width: 568px) {
.col-sm-6 {
	width: 50%;
	  float: left;
}
}
.vis-hidden{
	visibility: hidden;
}
