$blue: #009ed1;
$light-grey: #c4c4c4;
$navy: #001f45;
$grey: rgb(51, 51, 51);

$condensed: "TradeGothicBoldCon20", sans-serif;
$trade: "TradeGothic", sans-serif;
$trade-bold: "TradeGothicBold", sans-serif;
$italic: "ChaparralItalic", serif;


[ng-cloak]
{
  display: none !important;
}


@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.loader {
      height: 610px;
      position: relative;
       width: 100px;
      margin: auto;
      text-align: center;
      div {
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%);
          position: absolute;
          .ball {
              width: 40px;
              height: 40px;
              position: absolute;
              left: -20px;
              top: -20px;
              margin: 0 auto;
              background-color: $blue;
              border-radius: 100%;  
              -webkit-animation: scaleout 1.0s infinite ease-in-out;
              animation: scaleout 1.0s infinite ease-in-out;
            }
      }

}


@mixin arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 0 auto;
    position: absolute;
    left: 20px;
    top: 20px;
}

@mixin prompt-bk {
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin info-buttons {
    border-radius: 100px;
    height: 20px;
    width: 20px;
    font-family: $italic;
    overflow: visible;
    clear: both;
}

html {
    overflow-x: hidden;
}

body {
    background: rgb(236,236,236);
    -webkit-font-smoothing: antialiased;
}

.container {
    padding: 10px;
}



input[type=text], textarea, button, button:active, button:hover {
    outline: none !important;
    border: none;
}

input[type=text] {
    font-family: $trade-bold;
}

.number {
    font-family: $trade;
}

p {
    font-family: "TradeGothic";
}

h2 {
    font-family: "TradeGothicBold";
}

h5 {
    font-family: "TradeGothic";
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

h3.ywft {
    font-family: "ChaparralItalic";
    font-size: 48px;
    font-weight: 200;
    margin-bottom: -12px;
}


.down {
    position: relative;
    top: 35px;
    h5 {
        margin-top: 20px;
        margin-bottom: 30px;
    }   
}

.navy {
    color: $navy;
}

.plan h3 {
    color: $navy;
    text-transform: uppercase;
    font-family: $condensed;
}

.tall {
    padding-right: 25px;
    padding-left: 25px;
    min-width: 220px;
   // overflow-y: hidden;
    h4 {
        padding: 0px;
        font-size: 18px;
        }
    input {
      padding-top: 15px;
      padding-bottom: 15px;   
      max-width: 250px;
      }
    }

.tall.small {
    input {
        padding-top: 15px;
        padding-bottom: 15px;   
        float: none;
        }
    .prompt {
        top: 20px;
        }
    .source {
        position: relative;
        top: 20px;   
        font-size: 10px;
        a {
            color: $blue;
            text-decoration: underline;
        }     
    }
}

hr.v {
   background-color:#C80000;
   color:#C80000;
   -webkit-transform:rotate(90deg);
   position:absolute;
   left:130px;
   border:2px;
 }

.tall.small.left {
    padding-right: 50px;
    padding-left: 0px;
    border-right: 1px solid $light-grey;
}

.tall.small.right {
    padding-right: 0px;
    padding-left: 50px;
}

.tall {
    span {
        padding: 0;
    }
}

li.left {
    float: left;
}

input[type=radio] {
    width: auto;
    margin: 0 auto;
}

.money button.btn.btn-default {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    vertical-align: top;
    position: relative;
}

.money .btn-default[disabled] {
    background: $light-grey;
}

.controls.money {
    position: static;
    height: 60px;
    overflow: auto; 
    clear: both;
    margin: 0 auto;
}
.grey {
    .controls.money {
        margin: 0 auto;
    }
}

.controls.money.contribution {
    position: static;
}

.controls.money .labels.navy {
    width: 60px;
    min-height: 20px;
    overflow: hidden;
    text-align: center;
}

.retire .col-sm-6 input {
    margin-bottom: 10px;
    text-align: center;
}

.money button.btn.btn-default.disabled {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 100%;
    background: gray;
}

.progress-bar {
    background: $blue;
}
.grid {


    background: url(../images/grid-find.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-top: 45px;
    width: 100%;
    margin-top: 20px;
    background-size: contain;
}

.grid.r-none {
    background: url(../images/grid-find.png);
    padding-top: 10px;
    margin-top: 0px;
    background-position: top center;
    background-repeat: no-repeat;
}

.grid h5 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container.intro {
    text-align: center;
}

.slide {
    height: auto;
    min-height: 400px;
}

.main {
    height: 590px;
    max-height: 590px;
    overflow: hidden;
    min-height: 590px;
}

button.btn.btn-default.next {
    float: right;
}

header {
    border-bottom: 1px solid $light-grey;
}

ul.nav-tabs {
    margin-right: auto;
    margin-left: auto;
    width: 485px;
    border-bottom: none;
    li {
        margin: 10px;
    }
}

nav.tabs li {
    display: inline-block;
    list-style-type: none;
    border: none;
    font-weight: bold;
    margin: 0 1em;
    background: transparent;
}


.nav-tabs>li>a {
    text-transform: uppercase !important;
    border: none !important;
    font-family: "TradeGothicBoldCon20";
    font-size: 13px;
    padding: 0px 0px 5px 0;
    color: #d3d3d3;
    letter-spacing: .6px;
}

.nav-tabs>li.active {
    border-bottom: 4px solid $blue;
}

.nav-tabs>li.active>a {
    background: transparent !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

div.carousel {
    height: 493px;
}

.btn-group {
    display: block;
    margin-left: auto;
    width: 320px;
    margin-right: auto;
    overflow: auto;
    margin-bottom: 0px;
    top: -40px;
    .btn[disabled] {
        opacity: 1;
        background: #d3d3d3;
    }
    .btn.btn-default {
         padding: 15px 20px;
         width: 155px;
         .glyphicon {
              line-height: inherit;
              position: static;
         }
         .glyphicon-menu-left {
            float: left;
         }
         .glyphicon-menu-right {
            top: 15px;
            right: 15px;
            position: absolute;
         }
    }
}

.btn-group button.back {
    background: white !important;
    color: $blue !important;
    float: none;
}



.v-center {
    padding-top: 5%;
    .note.navy {
        font-style: normal;
        font-family: "ChaparralItalic";
        font-size: 18px;
        padding: 25% 0 0 0;
        width: 100%;
    }
}

.note.navy {
    padding: 25% 0 0 0;
}

.content.inner {
    background: white;
    padding: 1em;
    margin: 0 auto;
    max-width: 930px;
    min-height: 400px;
    position: relative;
}

ul li {
    list-style-type: none;
}

button.btn {
    box-shadow: none !important;
    color: white !important;
    text-shadow: none;
    border-radius: 0;
    border: none;
    padding: .5em;
    font-family: "TradeGothicBoldCon20";
    background: $blue;
    font-size: 18px;
}

button.btn.btn-default.find {
    padding: .8em 1em;
    width: 200px;
    position: relative;
    top: 30px;
    -webkit-transition: .3 all ease-in;
    .glyphicon.glyphicon-menu-right {
            top: 18px;
            right: 15px;
            position: absolute;
    }
}

button.btn.btn-default.find:hover {
    
    -webkit-transition: .3s all ease-in;
}

button.btn.btn-default.round {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-height: 50px;
}

button.btn:hover {
    box-shadow: none !important;
    color: white;
    text-shadow: none;
    border-radius: 0;
    border: none;
    background: $blue;
}

.money > h4[disabled] {
    color: red !important;
}

.blue {
    background: $blue;
}

.prompt {
    background: url(../images/reality-check-bk.png);
    color: $blue;
    font-family: "Chapparral Pro";
    font-style: italic;
    float: none;
    min-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center center;
    max-width: 290px;
    padding: 10px;
    margin: 0 auto;
    min-height: 113px;
    position: relative;
    span {
        padding: 10px 10px 0 10px;
        line-height: 1em;
        position: absolute;
        top: 50%;
        left: 0%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 15px;
    }
    .slash, .footnote {
        left: auto;
    }
}

p.note {
    font-style: italic;
    text-align: center;
}

p.note.sans {
    font-style: normal;
    font-size: 12px;
    line-height: initial;
    display: inline-block;
    padding: 10px 30px;
}

.right {
    float: right;
}

.h-center {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.source p {
    font-style: italic;
}

input {
    background: rgb(237,249,252);
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    box-shadow: inset 4px 4px 11px 0px rgba(0, 0, 0, 0.26);
    color: $navy;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

h4.labels {
    display: block;
    font-size: 16px;
    font-family: "TradeGothic", sans-serif;
    min-height: 60px;
    font-weight: bold;
}

.your {
    padding: 0px;
    h4.labels {
        min-height: auto;
        margin-bottom: 0px;
    }
}

h5.labels {
    font-weight: normal;
    font-size: 1em;
}

.row.controls > * {
    display: inline-block;
}

.call input {
    width: 70%;
}


/* results */ 
.offset-container {
    max-width: 960px;
    overflow: visible;
    margin: 0 auto;
    width: auto;
    position: relative;
    left: 125px;
    min-height: 450px;
}

.enough {
    max-width: 290px;
    font-family: "TradeGothic", sans-serif;
    margin: 0 auto;
    position: relative;
    left: 75px;
}

.prompt.estimate h2 {
    font-family: "TradeGothic", sans-serif;
    font-weight: bold;
    span {
          font-size: .6em;  
    }
}

.enough .inner {
    background: white;
    padding: 20px 0px;
    overflow: auto;
    clear: both;
  h4 {
    text-transform: uppercase;
    color: $navy;    
    font-family: $condensed;
    letter-spacing: inherit;
  }
  p {
    font-family: "Chapparral Pro";
    font-style: italic;
    line-height: initial; 
    color: $grey;
  }
}

.matches {
    padding: 0px; 
    overflow: auto;
    clear: both;
    float: none;
    h5 {
        font-size: 16px;
        display: inline-block;
        font-family: $condensed;
        padding-left: 10px;
            .i.dark {
                margin-left: 10px;
                float: right;
                margin-top: 10px;
            }
        }
    .squaredTwo {
            margin: 8px auto;
            margin-right: 5px;
        }
    }


    .money {
        .btn.btn-default {
            height: 40px; 
            width: 40px;
        }
    }

input[type="checkbox"] {
    width: auto;
}

.estimate {
    border-radius: 3px;
    color: white;
    font-family: "TradeGothic", sans-serif;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 400px;
}

.top-info {
    padding: 15px;
    background: rgba(56,72,77,0.8);
    border-radius: 5px;
    color: white;
    font-family: "TradeGothic", sans-serif;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 320px;
    overflow: auto;
    padding-bottom: 0px;
    min-height: 195px;
    p.note {
        line-height: inherit;
        font-family: $trade;
        font-style: normal;
        font-size: 10px;
    }
    p.ital {
        font-family: $italic;
    }
}

.footnote {
    line-height: inherit;
    font-size: 10px;
}
#upit-related-content h2.h1 {
    font-family: "TradeGothicBoldCon20";
}

.arrow-less {
    border-top: 8px solid white;
    @include arrow;
}


.arrow-more {
    border-bottom: 8px solid white;
    @include arrow;
}


.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(56,72,77,0.8);
    margin: 0 auto;
    
}

.top-info h4 {
    text-transform: uppercase;
    font-family: $condensed;
    font-size: 1em;
    margin-bottom: 0;
}

.top-info h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.top-info h2 span {
    font-weight: normal;
    font-size: .7em;
}

.top-info p {
    color: white;
}

.circle {
    background: $blue;
    margin-top: 10px;
    width: 155px;
    height: 155px;
    overflow: hidden;
    position: relative;
}

.left-align.estimate {
    position: relative;
    top: 20px;
}

/*
.circle {
    .inner {
    background: rgba(56,72,77,0.4);
    left: -25px;
    top: 100px;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100%;
}
}
*/

.shadow {
    background-color: lightgrey;
    border-radius: 100%;
    margin: 15px auto;
    height: 15px;
    width: 100px;
}

.i {
    color: white;
    border: 1px solid white;
    float: right;
    @include info-buttons;

}

.i.dark {
    background: black;
    float: left;
    @include info-buttons;
}

.i button {
    background: transparent;
    line-height: initial;
    vertical-align: top;
}

.prompt.estimate {
    background: url(../images/estimate-check.png);
    background-position: center center;
    color: $blue;
    min-height: 142px;
    @include prompt-bk;
}

.prompt.estimate p {
    max-width: 200px;
    margin: 0 auto;
    line-height: 1em;
    color: $blue;
    text-align: center;
}

.prompt.contribution {
    background: url(../images/contribution-check.png);
    line-height: 1em;
    background-position: top center;
    @include prompt-bk;

}

.blue-note {
    color: $blue;
    font-family: "Chapparral Pro";
    font-style: italic;
    font-size: 16px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    line-height: 1em;
}

.plan .labels {
    min-height: inherit;
}


.plan-entry p {
    font-family: "TradeGothic", sans-serif;
    font-size: 12px;
    min-height: 100px;
}

.prompt .footnote {
    padding: 0;
}

img.responsive {
    max-width: 100%;
    height: auto;
}

.col-sm-4 {
    overflow: auto;
}

.col-sm-4.tall {
    overflow: hidden;
}

.your {
    .col-sm-4 {
        overflow: visible;
    }
}

button.call-submit {
    height: 50px;
    min-width: 30px;
    border-radius: 3px;
    vertical-align: bottom;
}

.prompt.estimate h2 {
    margin: 0 auto;
}

.nav-plan {
    padding: 0 15px;
}

.nav-plan li {
    color: $blue;
    font-family: "TradeGothic", sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.vis-hidden {
    visibility: hidden;
}

.info-tool {
    background: black;
    border-radius: 5px;
    position: absolute;
    left: 265px;
    top: 85px;
    width: 250px;
    padding: 5px;
    p {
        color: white;
        font-size: 12px;
        line-height: initial;
    }
    .arrow-right {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right: 10px solid black;
        position: absolute;
        left: -10px;
        top: 42px;
    }
}


.match.col-xs-12.row.controls.animated-number {
        button.btn.btn-default {
            width: 35px;
            height: 35px;
            .arrow-more {
                left: 13px;
                top: 13.5px;
            }
            .arrow-less {
                left: 13px;
                top: 13.5px;
            }
        }
        h4 {
            margin-top: 5px;
            font-weight: normal;
        }
    }


.info-tool.ng-enter {
  animation: fadeIn 1s;
-webkit-animation: fadeIn 1s;
}

.info-tool.ng-leave {
  animation: fadeOut 1s;
 -webkit-animation: fadeOut 1s;
}

.dis-hidden {
    display: none;
}

.percent, .number {
    display: inline-block;
}

.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}



@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(8%);
    }

    65% {
        transform: translateY(-4%);
    }

    80% {
        transform: translateY(4%);
    }

    95% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }

    50% {
        -webkit-transform: translateY(8%);
    }

    65% {
        -webkit-transform: translateY(-4%);
    }

    80% {
        -webkit-transform: translateY(4%);
    }

    95% {
        -webkit-transform: translateY(-2%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}


/*
==============================================
slideUp
==============================================
*/


.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(-8%);
    }

    65% {
        transform: translateY(4%);
    }

    80% {
        transform: translateY(-4%);
    }

    95% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }

    50% {
        -webkit-transform: translateY(-8%);
    }

    65% {
        -webkit-transform: translateY(4%);
    }

    80% {
        -webkit-transform: translateY(-4%);
    }

    95% {
        -webkit-transform: translateY(2%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}
.vertical {
  height: 70px;
  margin-top: -10px;
  position: relative;
  overflow: hidden;
}



/* flip */ 

.flipcard {
  position: relative;
  width: 220px;
  height: 160px;
  perspective: 500px;
}
.flipcard.v:hover .front, .flipcard.v.flip .front{
  transform: rotateX(180deg);
}
.flipcard.v:hover .back, .flipcard.v.flip .back{
  transform: rotateX(0deg);
}
.flipcard.v .back{
  transform: rotateX(-180deg);
}
.flipcard.h:hover .front, .flipcard.h.flip .front{
  transform: rotateY(180deg);
}
.flipcard.h:hover .back, .flipcard.h.flip .back{
  transform: rotateY(0deg);
}
.flipcard.h .back{
  transform: rotateY(-180deg);
}
.flipcard .front, .flipcard .back
{
  position:absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: white;
  background-color: #000;
  padding: 10px;
  backface-visibility: hidden;
}

/* SQUARED TWO */

.squaredTwo {
    width: 23px;
    height: 23px;
    background: black;
    margin: 20px auto;
    position: relative;
    display: inline-block;
}

.squaredTwo label {
    cursor: pointer;
    position: absolute;
    width: 18.5px;
    height: 18.5px;
    left: 2.2px;
    top: 2.2px;
    background: white;
}

.squaredTwo label:after {

    opacity: 0;
    content: '';
    position: absolute;
    width: 13px;
    height: 7px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid $blue;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*
.squaredTwo label:hover::after {
}
*/
.squaredTwo input[type=checkbox]:checked + label:after {
    opacity: 1;
}


/* ROUNDED ONE 
.roundedOne {
    width: 28px;
    height: 28px;
    background: #fcfff4;
    margin: 0 auto 20px auto;
    background: rgb(237,249,252);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}

.roundedOne label {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 0px;
    top: 0px;
    -webkit-box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26);
    box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26);
    background: rgb(237,249,252);
}

.roundedOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: $blue;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: 6px;
    left: 6px;
}

.roundedOne label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.roundedOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 1;
}
.roundedOne input {
  margin: 7px 0 0 0;
}

.roundedOne input[type=radio]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
*/
.dollar {
  background: transparent;
  position: absolute;
  overflow: auto;
  clear: both;
  width: 30px;
  height: 100%;
  vertical-align: top;
  padding: 12% 10px;
  font-size: 30px;
  border: none;
  color: $navy;
  top: 26%;
  left: 5px;
  font-family: $trade-bold;
}


/* ------------------------------ MEDIA QUERIES ------------------------------ */

@media (min-width: 568px) {

    .col-sm-offset-2.left-align {
        margin-left: 16.66666667%;
    }
}

@media screen and (max-width: 62.5em) {
 
    .col-sm-offset-2.left-align {
        margin-left: auto;
    }

    .left-align.estimate {
        position: relative;
    }
}

@media screen and (max-width: 995px) and (min-width: 768px) {
}

@media (max-width: 768px) {

    .matches {
        float: left;
    }

    .info-tool {
    background: black;
    border-radius: 5px;
    position: absolute;
    left: -10px;
    width: 100%;
    top: -45px;
    padding: 10px 5px;
    min-width: 310px;
    p {
        color: white;
        font-size: 12px;
        line-height: initial;
    }
    .arrow-right {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid black;
        position: absolute;
        right: auto;
        top: 100%;
        left: 10px;
    }
}

    .container.grid {
        h5 {
            font-size: 1.1em;
            padding: 0 1.4em;
        }
        h3.ywft {
              margin-bottom: -8px;
              font-size: 1.8em;
        }
    }

    .carousel-inner {
        height: 475px;
    }
    .estimate {
        max-width: inherit;
    }

    .prompt.estimate {
        background: url(../images/contribution-check.png);
        max-width: 360px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        p {
            max-width: inherit;
            .inflate {
                width: 100px
            }
        }
    }

    .your {
        div.col-sm-4 {
            padding: 0;
            overflow: auto;
            max-width: 300px;
            margin: 0 auto;
            float: none;
        }
        div.col-sm-4.contrib {
            overflow: visible;
        }
        h4.labels {
            min-height: initial;
            margin-bottom: 15px;
            text-align: center;
            font-size: 1em;
        }
    }

    .grid.r-none {
        background-image: none;
        background: transparent;
    }

    .controls.money.col-xs-9.col-sm-12 {
        clear: none;
        overflow: visible;
    }

   .row.controls.money.col-xs-6.col-sm-12 {
       overflow: visible;
        clear: none;

        h4.labels.navy {
            font-size: 22px;
            font-weight: lighter;
            margin-top: 15px;
        }
    }

    .controls.money.match {
            overflow: auto;
            clear: both;
        button.btn.btn-default {
            width: 30px;
            height: 30px;
            span {
                left: 10px;
                top: 10px;
            }
        }

    }



    .offset-container {
        left: 0px;
        background: white;
        padding: 10px;
        text-align: left;
        div {
            padding: 0;
        }
        .left-align.estimate {
            top: 0px;
            .top-info {
                padding: 0;
                max-width: initial;
                min-height: 100px;
                span {
                    p.i {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                }
            }
        }
    }

    .enough {
        left: 0px;
        max-width: initial;
    }

    .tall.small {
        float: none;
        input {
            padding-top: 5px;
            padding-bottom: 5px;   
            float: right;
        }
        .prompt {
            top: 0px;
            margin: 0 auto;
            float: none;
            max-width: 360px;
            text-align: center;
            span {
                max-width: 360px;
                padding: 10px 32px 0 32px;
                padding: 10px 11% 0 11%;
                text-align: center;
            }
        }


        .source {
            position: relative; 
            top: 0%;
            font-size: 8px;
            display: block;
            color: $grey;
            font-style: normal;
            font-family: $trade;

            a {
                color: $blue;
                font-style: underline;
            }     
        }
    }

    .r-age-min {
          bottom: -25px;
    }

    .r-age-mid {
          bottom: -15px;
    }

    .r-age-max {
          bottom: -10px;
    }

    .future-max {
        bottom: -45px;
    }

    .roundedOne {
        float: left;
        margin-top: 10px;
    }

    .h-center {
        h4 {
            text-align: center;
            font-size: 13px;
        }
        position: static;
        transform: none;
        padding: 0px;
    }

    .tall.small.left {
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 20px;
        overflow: auto;
        padding-bottom: 20px;
    }

        .tall.small.right {
        border-right: none;
        padding-left: 0;
    }

    .grid {
        background-size: cover;
    }

    h4.labels {
        text-align: left;
        font-size: 15px;
    }

    .content.inner {
        height: 450px;
    }

    .enough {
        .inner {
            padding: 0;
            .grey {
            background: rgb(246,246,246);
            overflow: auto;
            clear: both;
            div {
                p {
                    line-height: initial;
                    color: $grey;
                }
            }
        }
        }
    }

    .v-center {
    padding-top: 5%;
        .note.navy {
            font-style: normal;
            font-family: "ChaparralItalic";
            font-size: 16px;
            padding: 5% 0 0 0;
            line-height: initial;
            float: left;

        }
    }

    .tall {
        padding-right: 0px;
        input {
            float: right;
            padding-top: 5px;
            padding-bottom: 5px;

        }
    }

    p.note.sans {
        font-size: 8px;
        float: right;
        padding: 5px 0;
        position: relative;
        top: -20px;
        width: 50%;
        line-height: initial;
    }
 
    .plan-entry p, .source p, .circle, .arrow-down, .shadow {
        display: none;
    }

    .plan-entry {
        h4 {
            text-align: center;
        }
    }

    .v-center div {
        padding: 0;
    }

    .main {
        max-height: initial;
        overflow: visible;
        height: auto;
    }

    div.carousel {
        height: auto;
    }

     .response h4 {
        text-align: left;
    }

    .btn-group {
        top: 0px;
        width: 280px;
        .btn.btn-default {
            width: 135px;
        }
    }
}
.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left
}
@import "input",
        "animatedNumber",
        "resultPage";