<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<title>Prudential</title>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-0.12.1.js"></script>
    <script src="js/app.js"></script>
  </head>
<body>
<div class="optimismbias-container" ng-app="dragon" ng-controller="MainController as main">


<div class="main">
<header>
	<ul class="nav nav-tabs" ng-if="main.currentIndex > 0">
		<li ng-class="{active: main.currentIndex === 1}"><a href="#">about you</a></li>
		<li ng-class="{active: main.currentIndex === 2}"><a href="#">your retirement</a></li>
		<li ng-class="{active: main.currentIndex === 3}"><a href="#">your contribution</a></li>
		<li ng-class="{active: main.currentIndex === 4}"><a href="#">results</a></li>
		<li ng-class="{active: main.currentIndex === 5}"><a href="#">next steps</a></li>
	</ul>
</header>
	<carousel-spec current-index="main.currentIndex">


	  <slide-spec class="slide one">
	    <div class="container grid">
			<h3 class="ywft navy">Retirement</h3>
		    <img class="responsive" src="images/reality-check.png" alt="reality check"/>
		    <h5 class="navy">Are you being too optimistic about your retirment plans?</h5>
		    <button class="btn btn-default find" ng-click="main.next()">Find out<span class="glyphicon glyphicon-menu-right"></span></button>
		</div>
	  </slide-spec>



	  <slide-spec class="slide">
	    <div class="container">
	    	<div class="content inner">
	    		<div class="v-center">
			<div class="col-sm-4">
			<h4 class="labels navy col-xs-6 col-sm-12">How old are you?</h4>

		


			<!-- 
			<label class="upit-info-input-age-unit upit-info-input-unit" for="upit-info-input-age">years old</label>

			-->

			<input type="text" ng-model="main.user.age" class="col-xs-6 col-sm-12">

			</div>

			<div class="col-sm-4">
		    <h4 class="labels navy col-xs-6 col-sm-12" >What is your annual salary?</h4> 
		    <input type="text" ng-model="main.user.annualSalary" class="col-xs-6 col-sm-12">
		    </div>

		    <div class="col-sm-4">
		    <h4 class="labels navy col-xs-6 col-sm-12">How much do you currently have saved for retirement?</h4>
		    <input type="text" ng-model="main.user.savedForRetirement" class="col-xs-6 col-sm-12">
		    </div>

		    <p class="note navy">This information will only be used for your calculation. It won't be shared with anyone.</p>
			</div>
			</div>
		</div>
	  </slide-spec>



  	  <slide-spec class="slide">
	    <div class="container">
			<div class="content inner row">
				<div class="h-center response col-sm-9 col-xs-12">
			<div class="col-sm-6">
				<h4 class="labels navy col-xs-6 col-sm-12">How old do you think you'll be when you retire?</h4>
				<input type="text" ng-model="main.user.minRetire" class="col-xs-6 col-sm-12">



				<!-- IF LESS THAN 65 --> 
				<div class="prompt" id="too-low" ng-class="{'vis-hidden': !main.realityMin() && !main.realityMax() && !main.realityMid()}">
					<span ng-if="main.realityMin()">Did you know the average American retires at 66?</span>
					<span ng-if="main.realityMax()">Many of us plan on working longer, but studies show that 49% of Americans have to retire earlier than expected.</span>
					<span ng-if="main.realityMid()">It looks like you're setting realistic goals. The average American retires at 62.</span>
				</div>

			</div>

			<div class="col-sm-6 right">
		   		<h4 class="labels navy col-xs-6 col-sm-12">How many years do you think your retirement will last?</h4>
		   		<input type="text" ng-model="main.user.maxRetire" class="col-xs-6 col-sm-12">

				<div class="prompt" id="too-low" ng-class="{'vis-hidden': !main.futureMin() && !main.futureMax() && !main.futureMid()}">
					<span ng-if="main.futureMin()">Did you know experts recomment planning to live to 105?</span>
					<span ng-if="main.futureMax()">The oldest person in history lived to 122. But with modern medical advances, who knows what the future of longevity will bring.</span>
					<span ng-if="main.futureMid()">It looks like you're setting realistic goals. The average American retires at 62.</span>
				</div>
		   	</div>

			</div>
			</div>

		</div>
	  </slide-spec>




	  <slide-spec class="slide">
	    <div class="container">
			<div class="content inner row">
			<div class="h-center col-xs-12">
			<h4 class="labels navy">How much are you currently contributing to your workplace retirement plan?</h4>

			<div class="col-sm-4">
				<input type="radio" name="contributionPlan" value="percentage" ng-model="main.user.contributionPlan">

				<div class="row controls money">
					<button class="btn btn-default" ng-click="main.lessContribution()" ng-disabled="main.user.contributionPlan !== 'percentage'"><span class="glyphicon glyphicon-chevron-down"></button>
					<h4 class="labels navy">{{ main.user.contribution }}%</h4> <!-- that goes up or down when you click arrows -->
					<button class="btn btn-default" ng-click="main.moreContribution()" ng-disabled="main.user.contributionPlan !== 'percentage'"><span class="glyphicon glyphicon-chevron-up"></button>
				</div>

			</div>

			<div class="col-sm-4">
				<input type="radio" name="contributionPlan" value="auto" ng-model="main.user.contributionPlan">
				<h5 class="labels navy">I don't know. I just did auto-enrollment.</h5>
				<div class="prompt contribution" id="too-low" ng-class="{'vis-hidden': main.user.contributionPlan !== 'auto'}">
					You may be contributing less than you think. Most auto-enrollment plans start your contributions at just 3%. We'll use that for your calculation.
				</div>
			</div>

			<div class="col-sm-4">
				<input type="radio" name="contributionPlan"  value="social" ng-model="main.user.contributionPlan">
				<h5 class="labels navy">Nothing. I'll just collect my Social Security</h5>
				<div class="prompt contribution" id="too-low" ng-class="{'vis-hidden': main.user.contributionPlan !== 'social'}">
					A lot of people think of Social Security as a safety net, but on its own, the average monthly benefit likely isn't enough to live abov a federal poverty line.
				</div>
			</div>
			</div>
		</div>
		</div>
	  </slide-spec>



	  <slide-spec class="slide">
		<div class="container grid r-none">

		<div class="row">

			<div class="col-sm-6 col-sm-offset-2 estimate">
			<div class="top-info">
				<h4>estimated income in retirement</h4>
				<h2>$65,536<span class="slash">/yr</span></h2>
				<p>including Social Security</p>
			</div>
			<div class="circle">
			<span class="inner"></span>
			</div>
			<div class="shadow"></div>
			</div>

			<div class="enough col-sm-6">
			<div class="inner">
			<h4>is that enough?</h4>
			<p>See how increasing your retirement contribution could make a big difference.</p>
			<div class="row controls money">
					<button class="btn btn-default" ng-click="main.lessContribution()" ><span class="glyphicon glyphicon-chevron-down"></span></button>
					<h4 class="labels navy">1%</h4> <!-- that goes up or down when you click arrows -->
					<button class="btn btn-default" ng-click="main.moreContribution()"><span class="glyphicon glyphicon-chevron-up"></button>
				</div>

				<div class="matches">
				<label>My company matches</label>
				<input type="checkbox">

				</div>

				<div class="prompt estimate">
				<p>Once you factor in inflation, you would have about <h2>$27,000<span class="slash">/yr</span><span class="footnote">1</span></h2>
				in today's dollars.
				</p>
				</div>
				</div>

				<p class="footnote">Inflation is assumed to be 3%. The return is purely hypothetical</p>


			</div>
		</div>
		</div>
	  </slide-spec>

	  <slide-spec class="slide">
		<div class="container">
		<div class="content inner plan">
		<ul class="row nav-plan">
			<li class="left" ng-click="main.prev()">Back</li>
			<li class="right" ng-click="main()">Start over</li>


		</ul>
			<h3>MAKE A PLAN </h3>
			<p class="blue-note">Studies show people who monitor their investments are more than twice as likely to succeed at retirement planning.<span class="footnote">1</span>

			<div class="col-sm-4 plan-entry">
		    <h4 class="labels navy">Remind me</h4>
		    <p>Set a quarterly calendar reminder to check in on your retirement account.</p>
		    <button class="btn btn-default round" >Set a calendar reminder</button>
		    </div>

		    <div class="col-sm-4 plan-entry">
		    <h4 class="labels navy">Start now</h4>
		    <p>Log in to your Prudential retirement account and start contributing more today. <br>Or call 1-XXX-XXXX for assistance.</p>
		    <button class="btn btn-default round" >Increase my contributions</button>
		    </div>

			<div class="col-sm-4 plan-entry call">
		    <h4 class="labels navy">Call me</h4>
		    	<p>Enter your phone number and we’ll have 
			a financial professional call to help 
			answer your questions.</p>
		    <input type="text">
		    <button class="call-submit"><span class="glyphicon glyphicon-menu-right"></span></button>
		    </div>

		    <div class="row source">
		    <p>Source: <a href="#">Prudential Financial Literacy and Retirement Readiness Study</a></p>
		    </div>
		</div>
		</div>
	  </slide-spec>
	</carousel-spec>
	<div class="btn-group" ng-if="main.currentIndex > 0 && !main.loading && main.currentIndex < 5">
		<button type="button" class="btn btn-default back" ng-click="main.prev()"><span class="glyphicon glyphicon-menu-left"></span>Back</button>
		<button type="button" class="btn btn-default next" ng-disabled="main.disabled()" ng-click="main.next()">
			<span ng-if="main.currentIndex < 3">Next<span class="glyphicon glyphicon-menu-right"></span></span>
			<span ng-if="main.currentIndex === 3">Calculate<span class="glyphicon glyphicon-menu-right"></span></span>
			<span ng-if="main.currentIndex === 4">Next steps<span class="glyphicon glyphicon-menu-right"></span></span>
		</button>
	</div>
</div>

</div><!-- end container -->
</body>
</html>

