@charset "UTF-8";
[ng-cloak] {
  display: none !important; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }

.loader {
  height: 610px;
  position: relative;
  width: 100px;
  margin: auto;
  text-align: center; }
  .loader div {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    position: absolute; }
    .loader div .ball {
      width: 40px;
      height: 40px;
      position: absolute;
      left: -20px;
      top: -20px;
      margin: 0 auto;
      background-color: #009ed1;
      border-radius: 100%;
      -webkit-animation: scaleout 1s infinite ease-in-out;
      animation: scaleout 1s infinite ease-in-out; }

html {
  overflow-x: hidden; }

body {
  background: #ececec;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  padding: 10px; }

input[type=text], textarea, button, button:active, button:hover {
  outline: none !important;
  border: none; }

input[type=text] {
  font-family: "TradeGothicBold", sans-serif; }

.number {
  font-family: "TradeGothic", sans-serif; }

p {
  font-family: "TradeGothic"; }

h2 {
  font-family: "TradeGothicBold"; }

h5 {
  font-family: "TradeGothic";
  font-size: 24px; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h3.ywft {
  font-family: "ChaparralItalic";
  font-size: 48px;
  font-weight: 200;
  margin-bottom: -12px; }

.down {
  position: relative; }
  .down h5 {
    margin-top: 20px;
    margin-bottom: 30px; }

.navy {
  color: #001f45; }

.plan h3 {
  color: #001f45;
  text-transform: uppercase;
  font-family: "TradeGothicBoldCon20", sans-serif; }

.tall {
  padding-right: 25px;
  padding-left: 25px;
  min-width: 220px; }
  .tall h4 {
    padding: 0px;
    font-size: 18px; }
  .tall input {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 250px; }

.tall.small input {
  padding-top: 15px;
  padding-bottom: 15px;
  float: none; }
.tall.small .prompt {
  top: 20px; }
.tall.small .source {
  position: relative;
  top: 20px;
  font-size: 10px; }
  .tall.small .source a {
    color: #009ed1;
    text-decoration: underline; }

hr.v {
  background-color: #C80000;
  color: #C80000;
  -webkit-transform: rotate(90deg);
  position: absolute;
  left: 130px;
  border: 2px; }

.tall.small.left {
  padding-right: 50px;
  padding-left: 0px;
  border-right: 1px solid #c4c4c4; }

.tall.small.right {
  padding-right: 0px;
  padding-left: 50px; }

.tall span {
  padding: 0; }

li.left {
  float: left; }

input[type=radio] {
  width: auto;
  margin: 0 auto; }

.center {
  margin: 0 auto; }
  .center .plan-entry {
    float: none;
    display: inline-block;
    padding: 0px;
    margin: 0px 15px;
    vertical-align: top; }

.money button.btn.btn-default {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  vertical-align: top;
  position: relative; }

.money .btn-default[disabled] {
  background: #c4c4c4; }

.controls.money {
  position: static;
  height: 60px;
  overflow: auto;
  clear: both;
  margin: 0 auto; }

.grey {
  overflow: hidden;
  clear: both; }
  .grey .controls.money {
    margin: 0 auto; }

.controls.money.contribution {
  position: static; }

.controls.money .labels.navy {
  width: 60px;
  min-height: 20px;
  overflow: hidden;
  text-align: center; }

.labels.navy.down {
  margin-top: 17px; }

.retire .col-sm-6 input {
  margin-bottom: 10px;
  text-align: center; }

.money button.btn.btn-default.disabled {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
  background: gray; }

.progress-bar {
  background: #009ed1; }

.grid {
  background: url(../images/grid-find.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-top: 45px;
  width: 100%;
  margin-top: 20px;
  background-size: contain; }

.grid.r-none {
  background: url(../images/grid-find.png);
  padding-top: 10px;
  margin-top: 0px;
  background-position: top center;
  background-repeat: no-repeat; }

.grid h5 {
  margin-top: 15px;
  margin-bottom: 15px; }

.container.intro {
  text-align: center; }

.slide {
  height: auto;
  min-height: 400px; }

.main {
  height: 590px;
  max-height: 590px;
  overflow: hidden;
  min-height: 590px; }

button.btn.btn-default.next {
  float: right; }

header {
  border-bottom: 1px solid #c4c4c4;
  min-height: 47px; }

ul.nav-tabs {
  margin-right: auto;
  margin-left: auto;
  width: 485px;
  border-bottom: none; }
  ul.nav-tabs li {
    margin: 10px; }

nav.tabs li {
  display: inline-block;
  list-style-type: none;
  border: none;
  font-weight: bold;
  margin: 0 1em;
  background: transparent; }

.nav-tabs > li > a {
  text-transform: uppercase !important;
  border: none !important;
  font-family: "TradeGothicBoldCon20";
  font-size: 13px;
  padding: 0px 0px 5px 0;
  color: #d3d3d3;
  letter-spacing: .6px; }

.nav-tabs > li.active {
  border-bottom: 4px solid #009ed1; }

.nav-tabs > li.active > a {
  background: transparent !important;
  border-top: none;
  border-left: none;
  border-right: none; }

div.carousel {
  height: 493px; }

.btn-group {
  display: block;
  margin-left: auto;
  width: 320px;
  margin-right: auto;
  overflow: auto;
  margin-bottom: 0px;
  top: -40px; }
  .btn-group .btn[disabled] {
    opacity: 1;
    background: #d3d3d3; }
  .btn-group .btn.btn-default {
    padding: 15px 20px;
    width: 155px; }
    .btn-group .btn.btn-default .glyphicon {
      line-height: inherit;
      position: static; }
    .btn-group .btn.btn-default .glyphicon-menu-left {
      float: left; }
    .btn-group .btn.btn-default .glyphicon-menu-right {
      top: 15px;
      right: 15px;
      position: absolute; }

.btn-group button.back {
  background: white !important;
  color: #009ed1 !important;
  float: none; }

.v-center {
  padding-top: 5%; }
  .v-center .note.navy {
    font-style: normal;
    font-family: "ChaparralItalic";
    font-size: 18px;
    padding: 25% 0 0 0;
    width: 100%; }

.note.navy {
  padding: 25% 0 0 0; }

.content.inner {
  background: white;
  padding: 1em;
  margin: 0 auto;
  max-width: 930px;
  min-height: 400px;
  position: relative; }

ul li {
  list-style-type: none; }

button.btn {
  box-shadow: none !important;
  color: white !important;
  text-shadow: none;
  border-radius: 0;
  border: none;
  padding: .5em;
  font-family: "TradeGothicBoldCon20";
  background: #009ed1;
  font-size: 18px; }

button.btn.btn-default.find {
  padding: .8em 1em;
  width: 200px;
  position: relative;
  top: 30px;
  -webkit-transition: .3 all ease-in; }
  button.btn.btn-default.find .glyphicon.glyphicon-menu-right {
    top: 18px;
    right: 15px;
    position: absolute; }

button.btn.btn-default.find:hover {
  -webkit-transition: .3s all ease-in; }

button.btn.btn-default.round {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 50px; }

button.btn:hover {
  box-shadow: none !important;
  color: white;
  text-shadow: none;
  border-radius: 0;
  border: none;
  background: #009ed1; }

.money > h4[disabled] {
  color: red !important; }

.blue {
  background: #009ed1; }

.prompt {
  background: url(../images/reality-check-bk.png);
  color: #009ed1;
  font-family: "Chapparral Pro";
  font-style: italic;
  float: none;
  min-height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center center;
  max-width: 290px;
  padding: 10px;
  margin: 0 auto;
  min-height: 113px;
  position: relative; }
  .prompt span {
    padding: 10px 10px 0 10px;
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px; }
  .prompt .slash, .prompt .footnote {
    left: auto; }

p.note {
  font-style: italic;
  text-align: center; }

p.note.sans {
  font-style: normal;
  font-size: 12px;
  line-height: initial;
  display: inline-block;
  padding: 10px 30px; }

.right {
  float: right; }

.h-center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.v-center.response {
  height: 100%; }
  .v-center.response .tall.small.left {
    height: 50%; }

.source p {
  font-style: italic; }

input {
  background: #edf9fc;
  border-radius: 5px;
  padding: 5px;
  border-style: none;
  box-shadow: inset 4px 4px 11px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: inset 4px 4px 11px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset 4px 4px 11px 0px rgba(0, 0, 0, 0.26);
  -ms-box-shadow: inset 4px 4px 11px 0px rgba(0, 0, 0, 0.26);
  -o-box-shadow: inset 4px 4px 11px 0px rgba(0, 0, 0, 0.26);
  color: #001f45;
  font-size: 30px;
  width: 100%;
  text-align: center; }

h4.labels {
  display: block;
  font-size: 16px;
  font-family: "TradeGothicBold", sans-serif;
  min-height: 60px;
  font-weight: normal; }

.your h4.labels {
  min-height: auto;
  margin-bottom: 0px; }

h5.labels {
  font-weight: normal;
  font-size: 1em; }

.row.controls > * {
  display: inline-block; }

.call input {
  width: 70%; }

/* results */
.offset-container {
  max-width: 960px;
  overflow: visible;
  margin: 0 auto;
  width: auto;
  position: relative;
  left: 125px;
  min-height: 450px; }

.enough {
  max-width: 290px;
  font-family: "TradeGothic", sans-serif;
  margin: 0 auto;
  position: relative;
  left: 75px; }

.prompt.estimate h2 {
  font-family: "TradeGothicBold", sans-serif;
  font-weight: normal; }
  .prompt.estimate h2 span {
    font-size: .6em; }

.estimate-left span span .note {
  padding: 0 30px; }

.enough .inner {
  background: white;
  padding: 20px 0px;
  overflow: auto;
  clear: both; }
  .enough .inner h4 {
    text-transform: uppercase;
    color: #001f45;
    font-family: "TradeGothicBoldCon20", sans-serif;
    letter-spacing: inherit; }
  .enough .inner p {
    font-family: "Chapparral Pro";
    font-style: italic;
    line-height: initial;
    color: #333333; }

.matches {
  padding: 0px;
  overflow: auto;
  clear: both;
  float: none; }
  .matches h5 {
    font-size: 16px;
    display: inline-block;
    font-family: "TradeGothicBoldCon20", sans-serif;
    padding-left: 0px; }
    .matches h5 .i.dark {
      margin-left: 10px;
      float: right;
      margin-top: 10px; }
  .matches .squaredTwo {
    margin: 8px auto;
    margin-right: 5px; }

.money .btn.btn-default {
  height: 40px;
  width: 40px; }

input[type="checkbox"] {
  width: auto; }

.estimate {
  border-radius: 3px;
  color: white;
  font-family: "TradeGothic", sans-serif;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 400px; }

.top-info {
  padding: 15px;
  background: rgba(56, 72, 77, 0.9);
  border-radius: 5px;
  color: white;
  font-family: "TradeGothic", sans-serif;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 320px;
  overflow: visible;
  padding-bottom: 0px;
  min-height: 160px;
  height: 160px;
  position: relative;
  top: 50px;
  z-index: 10; }
  .top-info p.note {
    line-height: inherit;
    font-family: "TradeGothic", sans-serif;
    font-style: normal;
    font-size: 10px; }
  .top-info p.ital {
    font-family: "ChaparralItalic", serif; }
  .top-info span p.i {
    top: 5px;
    right: 5px;
    position: absolute; }

.footnote {
  line-height: inherit;
  font-size: 10px; }

#upit-related-content h2.h1 {
  font-family: "TradeGothicBoldCon20"; }

.arrow-less {
  border-top: 8px solid white;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 auto;
  position: absolute;
  left: 20px;
  top: 20px; }

.arrow-more {
  border-bottom: 8px solid white;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 auto;
  position: absolute;
  left: 20px;
  top: 20px; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(56, 72, 77, 0.9);
  margin: 0 auto;
  position: relative;
  top: 49.4px; }

.top-info h4 {
  text-transform: uppercase;
  font-family: "TradeGothicBoldCon20", sans-serif;
  font-size: 1.25em;
  margin-bottom: 0; }

.top-info h2 {
  font-family: "TradeGothicBoldCon20", sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 34px;
  overflow: hidden;
  max-height: 60px; }

.top-info h2 span {
  font-weight: normal;
  font-size: 1em;
  font-family: "TradeGothic", sans-serif; }

.top-info h2 span.number {
  font-family: "TradeGothicBold", sans-serif;
  font-size: 50px;
  margin-left: -5px; }

.top-info p {
  color: white; }

.nav-tabs > li.past > a {
  color: #555 !important; }

.circle {
  background: #009ed1;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative; }
  .circle .inner {
    background: rgba(0, 0, 0, 0.2);
    display: block;
    height: 100px;
    width: 200px;
    position: absolute;
    left: -20px;
    border-radius: 100%;
    top: 80px; }

.left-align.estimate {
  position: relative;
  top: 20px; }

/*
.circle {
    .inner {
    background: rgba(56,72,77,0.4);
    left: -25px;
    top: 100px;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100%;
}
}
*/
.shadow {
  background-color: lightgrey;
  border-radius: 100%;
  margin: 15px auto;
  height: 15px;
  width: 100px; }

.i {
  color: white;
  border: 1px solid white;
  float: right;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  font-family: "ChaparralItalic", serif;
  overflow: visible;
  clear: both; }

.i.dark {
  background: black;
  float: left;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  font-family: "ChaparralItalic", serif;
  overflow: visible;
  clear: both; }

.i button {
  background: transparent;
  line-height: initial;
  vertical-align: top; }

.prompt.estimate {
  background: url(../images/estimate-check.png);
  background-position: center center;
  color: #009ed1;
  min-height: 142px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat; }

.prompt.estimate p {
  max-width: 200px;
  margin: 0 auto;
  line-height: 1em;
  color: #009ed1;
  text-align: center; }

.prompt.contribution {
  background: url(../images/contribution-check.png);
  line-height: 1em;
  background-position: top center;
  -webkit-transition: .3s all ease-in;
  opacity: 1;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat; }

.prompt {
  -webkit-transition: .3s all ease-in;
  opacity: 1; }

.blue-note {
  color: #009ed1;
  font-family: "Chapparral Pro";
  font-style: italic;
  font-size: 16px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  line-height: 1em; }

.plan .blue-note {
  font-size: 18px; }
.plan .source {
  margin-top: 40px; }
  .plan .source p {
    font-size: 10px; }
    .plan .source p a {
      color: #009ed1; }

.plan .labels {
  min-height: inherit; }

.plan-entry p {
  font-family: "TradeGothic", sans-serif;
  font-size: 14px;
  min-height: 100px;
  color: #001f45; }

.prompt .footnote {
  padding: 0; }

img.responsive {
  max-width: 100%;
  height: auto; }

.col-sm-4 {
  overflow: auto; }

.col-sm-4.tall {
  overflow: hidden; }

.your .col-sm-4 {
  overflow: visible; }

button.call-submit {
  height: 50px;
  min-width: 30px;
  border-radius: 3px;
  vertical-align: bottom; }

.prompt.estimate h2 {
  margin: 0 auto; }

.nav-plan {
  padding: 0 15px; }

.nav-plan li {
  color: #009ed1;
  font-family: "TradeGothicBold", sans-serif;
  font-weight: normal;
  text-decoration: underline; }

.vis-hidden {
  visibility: hidden; }

.prompt.contribution.vis-hidden, .prompt.vis-hidden {
  opacity: 0; }

.fade {
  opacity: 1; }

.info-tool {
  background: black;
  border-radius: 5px;
  position: absolute;
  left: 265px;
  top: 85px;
  width: 250px;
  padding: 5px; }
  .info-tool p {
    color: white;
    font-size: 12px;
    line-height: initial; }
  .info-tool .arrow-right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    position: absolute;
    left: -10px;
    top: 42px; }

.match.col-xs-12.row.controls.animated-number button.btn.btn-default {
  width: 35px;
  height: 35px; }
  .match.col-xs-12.row.controls.animated-number button.btn.btn-default .arrow-more {
    left: 13px;
    top: 13.5px; }
  .match.col-xs-12.row.controls.animated-number button.btn.btn-default .arrow-less {
    left: 13px;
    top: 13.5px; }
.match.col-xs-12.row.controls.animated-number h4 {
  margin-top: 5px;
  font-weight: normal; }

.info-tool.ng-enter {
    animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s; }

.info-tool.ng-leave {
    animation: fadeOut 1s;
   -webkit-animation: fadeOut 1s; }

.dis-hidden {
  display: none; }

.percent, .number {
  display: inline-block; }

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }

  50% {
    transform: translateY(8%); }

  65% {
    transform: translateY(-4%); }

  80% {
    transform: translateY(4%); }

  95% {
    transform: translateY(-2%); }

  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }

  50% {
    -webkit-transform: translateY(8%); }

  65% {
    -webkit-transform: translateY(-4%); }

  80% {
    -webkit-transform: translateY(4%); }

  95% {
    -webkit-transform: translateY(-2%); }

  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
slideUp
==============================================
*/
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideUp {
  0% {
    transform: translateY(100%); }

  50% {
    transform: translateY(-8%); }

  65% {
    transform: translateY(4%); }

  80% {
    transform: translateY(-4%); }

  95% {
    transform: translateY(2%); }

  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%); }

  50% {
    -webkit-transform: translateY(-8%); }

  65% {
    -webkit-transform: translateY(4%); }

  80% {
    -webkit-transform: translateY(-4%); }

  95% {
    -webkit-transform: translateY(2%); }

  100% {
    -webkit-transform: translateY(0%); } }

.vertical {
  height: 70px;
  margin-top: -10px;
  position: relative;
  overflow: hidden; }

/* flip */
.flipcard {
  position: relative;
  width: 220px;
  height: 160px;
  perspective: 500px; }

.flipcard.v:hover .front, .flipcard.v.flip .front {
  transform: rotateX(180deg); }

.flipcard.v:hover .back, .flipcard.v.flip .back {
  transform: rotateX(0deg); }

.flipcard.v .back {
  transform: rotateX(-180deg); }

.flipcard.h:hover .front, .flipcard.h.flip .front {
  transform: rotateY(180deg); }

.flipcard.h:hover .back, .flipcard.h.flip .back {
  transform: rotateY(0deg); }

.flipcard.h .back {
  transform: rotateY(-180deg); }

.flipcard .front, .flipcard .back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: white;
  background-color: #000;
  padding: 10px;
  backface-visibility: hidden; }

/* SQUARED TWO */
.squaredTwo {
  width: 23px;
  height: 23px;
  background: url(../images/square.png);
  margin: 20px auto;
  position: relative;
  background-size: 100% auto;
  display: inline-block; }

.squaredTwo label {
  cursor: pointer;
  position: absolute;
  width: 18.5px;
  height: 18.5px;
  left: 2.2px;
  top: 2.2px;
  background: white; }

.squaredTwo label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 13px;
  height: 7px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #009ed1;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/*
.squaredTwo label:hover::after {
}
*/
.squaredTwo input[type=checkbox]:checked + label:after {
  opacity: 1; }

/* ROUNDED ONE 
.roundedOne {
    width: 28px;
    height: 28px;
    background: #fcfff4;
    margin: 0 auto 20px auto;
    background: rgb(237,249,252);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}

.roundedOne label {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 0px;
    top: 0px;
    -webkit-box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26);
    box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26);
    background: rgb(237,249,252);
}

.roundedOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: $blue;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: 6px;
    left: 6px;
}

.roundedOne label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.roundedOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 1;
}
.roundedOne input {
  margin: 7px 0 0 0;
}

.roundedOne input[type=radio]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
*/
.dollar {
  background: transparent;
  position: absolute;
  overflow: auto;
  clear: both;
  width: 30px;
  height: 100%;
  vertical-align: top;
  padding: 12% 10px;
  font-size: 30px;
  border: none;
  color: #001f45;
  top: 26%;
  left: 5px;
  font-family: "TradeGothicBold", sans-serif; }

/* ------------------------------ MEDIA QUERIES ------------------------------ */
@media (min-width: 568px) {
  .col-sm-offset-2.left-align {
    margin-left: 16.66667%; } }

@media screen and (max-width: 1000px) {
  .offset-container {
    margin-right: -15px;
    margin-left: -15px;
    left: 0px; }
  .left-align.estimate {
    float: left; }
  .col-sm-6.col-sm-offset-1.left-align.estimate {
    float: none; }
  .left-align.estimate {
    position: relative; } }

@media (max-width: 768px) {
  .v-center.response {
    padding: 0px; }
  .container.contribution {
    background: white;
    margin: 10px; }
  .matches {
    float: none; }
  .match.col-xs-12.row.controls.animated-number {
    width: 85%; }
  .top-info h2 {
    padding: 0; }
  .top-info h2 span.number {
    font-family: "TradeGothicBoldCon20", sans-serif;
    font-size: 34px;
    margin-left: -10px;
    max-height: 45px;
    overflow: hidden;
    vertical-align: bottom; }
  .prompt .slash {
    position: relative;
    padding: 0px; }
  .prompt .footnote.num {
    position: relative;
    top: -5px;
    font-weight: normal;
    font-size: 12px; }
  .info-tool {
    background: black;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    padding: 10px 5px;
    min-width: 310px; }
    .info-tool p {
      color: white;
      font-size: 12px;
      line-height: initial; }
    .info-tool .arrow-right {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid black;
      position: absolute;
      right: auto;
      top: 100%;
      left: 10px; }
  .container.grid h5 {
    font-size: 1.1em;
    padding: 0 1.4em; }
  .container.grid h3.ywft {
    margin-bottom: -8px;
    font-size: 1.8em; }
  .carousel-inner {
    height: 475px; }
  .estimate {
    max-width: inherit; }
  .prompt.estimate {
    background: url(../images/contribution-check.png);
    max-width: 360px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-transition: none; }
    .prompt.estimate .h-center {
      width: 100%;
      padding: 0 10px; }
    .prompt.estimate p {
      max-width: inherit; }
      .prompt.estimate p .inflate {
        width: 100px; }
  .your div.col-sm-4 {
    padding: 0;
    overflow: auto;
    max-width: 300px;
    margin: 0 auto;
    float: none; }
  .your div.col-sm-4.contrib {
    overflow: visible; }
  .your h4.labels {
    min-height: initial;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1em; }
  .grid.r-none {
    background-image: none;
    background: transparent; }
  .controls.money.col-xs-9.col-sm-12 {
    clear: none;
    overflow: visible; }
  .row.controls.money.col-xs-6.col-sm-12 {
    overflow: visible;
    clear: none; }
    .row.controls.money.col-xs-6.col-sm-12 h4.labels.navy {
      font-size: 22px;
      font-weight: lighter;
      margin-top: 15px; }
  .controls.money.match {
    overflow: auto;
    clear: both; }
    .controls.money.match button.btn.btn-default {
      width: 30px;
      height: 30px; }
      .controls.money.match button.btn.btn-default span {
        left: 10px;
        top: 10px; }
  .offset-container {
    left: 0px;
    background: white;
    padding: 10px;
    text-align: left; }
    .offset-container div {
      padding: 0; }
    .offset-container .left-align.estimate {
      top: 0px; }
      .offset-container .left-align.estimate .top-info {
        padding: 0;
        top: 0px;
        padding-top: 15px;
        max-width: initial;
        min-height: 100px;
        max-height: 100px;
        position: relative;
        transform: none !important;
        -webkit-transform: none !important; }
        .offset-container .left-align.estimate .top-info span p.i {
          position: absolute;
          top: 10px;
          right: 10px; }
        .offset-container .left-align.estimate .top-info span span p.note {
          padding: 0 30px; }
        .offset-container .left-align.estimate .top-info p.ital {
          font-size: 14px; }
  .enough {
    left: 0px;
    max-width: initial; }
  .tall.small {
    float: none; }
    .tall.small input {
      padding-top: 5px;
      padding-bottom: 5px;
      float: right; }
    .tall.small .prompt {
      top: 0px;
      top: 70px;
      position: absolute;
      margin: 0 auto;
      float: none;
      max-width: 360px;
      text-align: center; }
      .tall.small .prompt span {
        max-width: 360px;
        padding: 10px 32px 0 32px;
        padding: 10px 11% 0 11%;
        text-align: center; }
    .tall.small .source {
      position: relative;
      top: 0%;
      font-size: 8px;
      display: block;
      color: #333333;
      font-style: normal;
      font-family: "TradeGothic", sans-serif; }
      .tall.small .source a {
        color: #009ed1;
        font-style: underline; }
  .r-age-min {
    bottom: -25px; }
  .r-age-mid {
    bottom: -15px; }
  .r-age-max {
    bottom: -10px; }
  .future-max {
    bottom: -45px; }
  .roundedOne {
    float: left;
    margin-top: 10px; }
  .h-center {
    position: static;
    position: absolute;
    padding: 0px; }
    .h-center h4 {
      text-align: center;
      font-size: 13px; }
  .tall.small.left {
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
    overflow: auto;
    padding-bottom: 20px; }
  .tall.small.right {
    border-right: none;
    padding-left: 0; }
  .grid {
    background-size: cover; }
  h4.labels {
    text-align: left;
    font-size: 15px; }
  .content.inner {
    height: 450px; }
  .enough .inner {
    padding: 0; }
    .enough .inner .grey {
      background: #f6f6f6;
      overflow: hidden;
      clear: both; }
      .enough .inner .grey .controls.animated-number {
        position: relative; }
      .enough .inner .grey div p {
        line-height: initial;
        color: #333333; }
  .v-center {
    padding-top: 5%; }
    .v-center .note.navy {
      font-style: normal;
      font-family: "ChaparralItalic";
      font-size: 16px;
      padding: 5% 0 0 0;
      line-height: initial;
      float: left; }
  .tall {
    padding-right: 0px; }
    .tall input {
      float: right;
      padding-top: 5px;
      padding-bottom: 5px; }
  p.note.sans {
    font-size: 8px;
    float: right;
    padding: 5px 0;
    position: relative;
    top: -20px;
    width: 50%;
    line-height: initial; }
  .plan-entry p, .source p, .circle, .arrow-down, .shadow {
    display: none; }
  .plan-entry h4 {
    text-align: center; }
  .v-center div {
    padding: 0; }
  .main {
    max-height: initial;
    overflow: visible;
    height: auto; }
  div.carousel {
    height: auto; }
  .response h4 {
    text-align: left; }
  .btn-group {
    top: 0px;
    width: 280px; }
    .btn-group .btn.btn-default {
      width: 135px; } }

.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left; }

/* buttons */
.btn-1e:hover, .btn-1e:active {
  color: #0e83cd; }

.btn-1e:hover:after {
  height: 260%;
  opacity: 1; }

.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg); }

@media screen and (max-device-width: 768px) {
  input {
    -webkit-appearance: none; }
  .tall {
    min-width: 100px; }
  .response .tall input {
    width: 300px; }
  div.col-sm-4.tall {
    width: 30%;
    min-width: initial;
    margin: 10px; }
  p.note.sans {
    top: 0px;
    width: 100%; }
  .tall.small {
    float: left;
    overflow: auto;
    height: 100%;
    width: 50%; }
    .tall.small h4 {
      float: left; }
    .tall.small input {
      float: left; }
    .tall.small .prompt {
      top: 0px;
      position: relative;
      margin: 0 auto;
      float: left;
      max-width: 300px; }
  input#squaredTwo {
    -webkit-appearance: none; }
  .i button {
    padding: 2px; }
  .circle {
    display: none; }
  .enough .inner {
    padding: 0; }
    .enough .inner .grey {
      background: #f6f6f6;
      overflow: hidden;
      clear: both; }
      .enough .inner .grey div.col-xs-6.col-sm-12 {
        width: 50%; }
      .enough .inner .grey .controls.animated-number {
        display: block; }
      .enough .inner .grey div p {
        line-height: initial;
        color: #333333; }
  .controls.animated-number {
    display: block; }
  .tall.small.right {
    float: right;
    overflow: auto;
    padding-left: 50px; }
    .tall.small.right h4 {
      float: right; }
    .tall.small.right input {
      float: right; }
  .your div.col-sm-4.contrib {
    overflow: auto; }
  div.v-center.response.col-sm-12.col-xs-12 {
    margin: 0 auto;
    width: 100%;
    float: none; }
  .v-center.response .tall.small.left {
    width: 50%; } }

.panel-body {
  padding: 0; }

.panel-default > .panel-heading {
  background-color: white;
  background: white;
  border-color: white;
  border: none; }

.panel-default {
  border-color: white;
  border: none; }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none; }

.roundedOne input[type="radio"] {
  display: none; }

.roundedOne input[type="radio"] + label {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 auto 20px auto;
  background: #edf9fc;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26);
  box-shadow: inset 3px 2px 6px 0px rgba(0, 0, 0, 0.26); }

.roundedOne input[type="radio"] + label span {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background: #009ed1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: 6px; }

.roundedOne input[type="radio"]:checked + label span {
  opacity: 1; }

.animated-number button.btn.btn-default {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  vertical-align: top;
  position: relative; }

.animated-number .btn-default.disable {
  background: #c4c4c4; }

.controls.animated-number {
  position: static;
  height: 60px;
  overflow: auto;
  clear: both;
  margin: 0 auto;
  padding: 0; }

.contrib .controls.animated-number {
  clear: none; }
.contrib .match.col-xs-12.row.controls.animated-number {
  opacity: 0.9; }

.controls.animated-number.contribution {
  position: static; }

.controls.animated-number .labels.navy {
  width: 60px;
  min-height: 20px;
  overflow: hidden;
  text-align: center; }

.animated-number button.btn:focus {
  box-shadow: none !important;
  background: #009ed1; }

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }

  50% {
    transform: translateY(8%); }

  65% {
    transform: translateY(-4%); }

  80% {
    transform: translateY(4%); }

  95% {
    transform: translateY(-2%); }

  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }

  50% {
    -webkit-transform: translateY(8%); }

  65% {
    -webkit-transform: translateY(-4%); }

  80% {
    -webkit-transform: translateY(4%); }

  95% {
    -webkit-transform: translateY(-2%); }

  100% {
    -webkit-transform: translateY(0%); } }

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

.number, .percent {
  font-size: 24px; }

@keyframes slideUp {
  0% {
    transform: translateY(100%); }

  50% {
    transform: translateY(-8%); }

  65% {
    transform: translateY(4%); }

  80% {
    transform: translateY(-4%); }

  95% {
    transform: translateY(2%); }

  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%); }

  50% {
    -webkit-transform: translateY(-8%); }

  65% {
    -webkit-transform: translateY(4%); }

  80% {
    -webkit-transform: translateY(-4%); }

  95% {
    -webkit-transform: translateY(2%); }

  100% {
    -webkit-transform: translateY(0%); } }

.grow {
  animation-name: grow;
  -webkit-animation-name: grow;
  animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes grow {
  0% {
    transform: scale(.8, .8); }

  50% {
    transform: scale(1, 1); }

  65% {
    transform: scale(1.05, 1.05); }

  80% {
    transform: scale(1.02, 1.02); }

  95% {
    transform: scale(.98, .98); }

  100% {
    transform: scale(1, 1); } }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(.9, .9); }

  50% {
    -webkit-transform: scale(1, 1); }

  65% {
    -webkit-transform: scale(1.05, 1.05); }

  80% {
    -webkit-transform: scale(1.02, 1.02); }

  95% {
    -webkit-transform: scale(.98, .98); }

  100% {
    -webkit-transform: scale(1, 1); } }

.smaller {
  animation-name: smaller;
  -webkit-animation-name: smaller;
  animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes smaller {
  0% {
    transform: scale(1, 1); }

  50% {
    transform: scale(1, 1.1); }

  65% {
    transform: scale(1.15, 1.15); }

  80% {
    transform: scale(1.19, 1.19); }

  95% {
    transform: scale(1.195, 1.195); }

  100% {
    transform: scale(1.2, 1.2); } }

@-webkit-keyframes smaller {
  0% {
    -webkit-transform: scale(1.1, 1.1); }

  50% {
    -webkit-transform: scale(1, 1); }

  65% {
    -webkit-transform: scale(.95, .95); }

  80% {
    -webkit-transform: scale(.98, .98); }

  95% {
    -webkit-transform: scale(1.02, 1.02); }

  100% {
    -webkit-transform: scale(1, 1); } }

@media (max-width: 768px) {
  .grey {
    background: #f6f6f6;
    overflow: visible;
    clear: both; }
    .grey .controls.animated-number {
      position: relative;
      top: -70px; } }

.intro-shadow {
  animation-name: intro-shadow;
  -webkit-animation-name: intro-shadow;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@-webkit-keyframes intro-shadow {
  0% {
    -webkit-transform: scaleX(1); }

  40% {
    -webkit-transform: scaleX(2.2); }

  60% {
    -webkit-transform: scaleX(2.2); }

  100% {
    -webkit-transform: scaleX(1); } }

.intro-circle {
  animation-name: intro-circle;
  -webkit-animation-name: intro-circle;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@-webkit-keyframes intro-circle {
  0% {
    -webkit-transform: translateY(120%); }

  10% {
    -webkit-transform: translateY(120%); }

  40% {
    -webkit-transform: translateY(0%); }

  65% {
    -webkit-transform: translateY(4%); }

  80% {
    -webkit-transform: translateY(-4%); }

  95% {
    -webkit-transform: translateY(2%); }

  100% {
    -webkit-transform: translateY(0%); } }
