/*
 * For some reason, IE7 is applying all CSS inside any media query.
 * So we're creating a special CSS file for it that includes
 * everything but _responsive.scss
 */
@keyframes autopay-open-space {
  to {
    max-height: 225px;
    max-width: 225px;
  }
}
@keyframes autopayExpand {
  to {
    opacity: 1;
    max-height: 225px;
    max-width: 225px;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pop-in {
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pop-in {
  50% {
    -moz-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes pop-in {
  50% {
    -moz-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
/* line 1, ../sass/_base.scss */
.no-touch .autopay-container,
.touch .autopay-container {
  color: #002247;
  background: url('../images/bg.jpg?1397190125') repeat;
  overflow: hidden;
  position: relative;
  height: 610px;
  min-width: 320px;
  -moz-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}
/* line 13, ../sass/_base.scss */
.no-touch .autopay-container *,
.touch .autopay-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

