<div class="calculations">
    <div class="inside calc" style="position: relative;height: 20px;z-index: 20;background: rgba(193, 106, 109, 0);"/>
    <div class="vertical">
        <div>
            <div style="font-size: 20px;visibility: hidden">hidden</div>
            <span ng-transclude></span>
            <div style="font-size: 20px;visibility: hidden">hidden</div>
        </div>
    </div>
    <div class="inside calc2"style="position: relative;height: 20px;z-index: 20;background: rgba(93, 106, 109, 0)"/>
</div>
